@use "sass:math";

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid map-get($colors, "gray");
  box-shadow: $base-box-shadow;
  margin: $base-margin;
  max-width: 400px;
  border-radius: math.div($base-border-radius, 4);
  .card-title {
    font-size: $font-size-md;
    padding: $base-padding;
    // margin: $base-margin;
    font-weight: bold;
  }
  .card-body {
    font-size: $font-size-sm;
    padding: $base-padding;
    a {
      text-decoration: none;
      font-style: italic;
    }
  }
}
